<nav class="navbar navbar-expand-sm navbar-light bg-light m-3 ps-3">
    <a class="navbar-brand" href="#">Youtube-Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ms-2">
            <li class="nav-item active">
                <a class="nav-link active" href="#">Top</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">チャンネルを探す</a>
            </li>
                  
            <% if current_user %>
                <li class="nav-item">
                    <a class="nav-link" href="#">チャンネルを登録</a>
                </li>
                <li class="nav-item">       
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" 
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" 
                                aria-expanded="false"><%= current_user.email %>さん</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><%= link_to 'アカウント編集', edit_user_registration_path, class:"dropdown-item" %></li>
                            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
                        </ul>
                    </div>
                </li>
            <% else %>
                <li class="nav-item">
                    <li><%= link_to 'アカウント登録', new_user_registration_path, class:"nav-link active"%></li>
                </li>
                <li class="nav-item">
                    <li><%= link_to 'ログイン', new_user_session_path,class:"nav-link active"%></li>
                </li>
            <% end %>    
        </ul>
    </div>
</nav>