<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-dark">
    <div class="container">
      <div>
        <%= render 'layouts/header' %>
      </div> 
    </div>
    <div class="container">
      <div class="main mt-5 p-5">
        <%= yield %>
      </div>
    </div>
    <% if flash[:notice] %>
        <p>Notice: <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
        <p>Alert: <%= flash[:alert] %></p>
    <% end %>
  </body>

</html>
